# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# virtualenv
venv/
env/
.venv/
.Python

# Editor/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env
.env.* 

# Streamlit and caches
.streamlit/
.cache/
